@charset "UTF-8";

.error_color {
	color: red;
	text-decoration: underline;
}

table {
	border-collapse: collapse;
}

table th {
	background: rgb(0, 64, 128);
	border: solid 1px #ccc;
	color: #fff;
	padding: 10px;
}

table td {
	border: solid 1px #ccc;
	padding: 10px;
}