@charset "UTF-8";

.error_color {
	color: red;
	text-decoration: underline;
}

.button {
	display: inline-flex;
}

.input_title{
	width:1000px;
}

.input_comment{
	width:1000px;
	height:300px;
}


table {
	border-collapse: collapse;
}

table th {
	background: rgb(0, 64, 128);
	border: solid 1px #ccc;
	color: #fff;
	padding: 10px;
}

table td {
	border: solid 1px #ccc;
	padding: 10px;
}