<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>日報提出</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1><span th:text="${title}"></span></h1>
	<div th:object="${input}">
		<p>タイトル：　<span th:text="*{title}"></span></p>
		<p>コメント：　<span th:text="*{comment}"></span></p>
		<br>
		<p>
			「投稿する」のボタンを押して投稿を完了してください。<br>
			もし入力内容に誤りがあれば、入力画面に戻ってください。
		</p>

		<form method="get" action="#" th:action="@{/form}">
			<input type="hidden" name="title" th:value="*{title}">
			<input type="hidden" name="comment" th:value="*{comment}">
			<input type="submit" value="入力画面に戻る">
		</form>
		<br>
		<form method="get" action="#" th:action="@{/index}">
			<input type="hidden" name="title" th:value="*{title}">
			<input type="hidden" name="comment" th:value="*{comment}">
			<input type="submit" value="投稿する">
		</form>
	</div>
</body>

</html>