<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>content</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1><span th:text="${title}"></span></h1>

	<p>
	<form class="button" th:each="res : ${dbList}" th:action="@{/edit/{id}(id=${res.id})}">
		<input type="submit" value="編集">
	</form>
	<form class="button" th:each="res : ${dbList}" th:action="@{/del/{id}(id=${res.id})}">
		<input type="submit" value="削除" />
	</form>
	</p>

	<table width="1000">
		<tr th:each="res : ${dbList}">
			<th align="left" th:text="${res.title}"></th>
		</tr>
		<tr height="300" valign="top" th:each="res : ${dbList}">
			<td th:text="${res.comment}">コメント</td>
		</tr>
	</table>
	<br>
	<form button="get" action="#" th:action="@{/index}">
		<input type="submit" value="日報投稿画面に戻る">
	</form>

</body>

</html>