<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${form}">
		<form action="#" method="get" th:action="@{/edit/__*{id}__/exe}">
			<p>
				番号:<span th:text="*{id}"></span> <input type="hidden" name="id" th:value="*{id}">
			</p>
			<p>
				タイトル: <input type="text" name="title" th:value="*{title}">
			</p>
			<p>
				コメント: <input type="text" name="comment" th:value="*{comment}">
			</p>
			<input type="submit" value="更新">
		</form>
	</div>
</body>

</html>